.animated {
    -webkit-animation-duration: 1s;
    
    -webkit-animation-fill-mode: both;
    
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        
    }
}

.slideInDown {
    -webkit-animation-name: slideInDown;
    
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        
    }
}

.slideInUp {
    -webkit-animation-name: slideInUp;
    
}

@keyframes fade-in {
    from {
        -webkit-transform: scale3d(0.5, 0.5, 0.5);
        opacity: 0;
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale3d(0.5, 0.5, 0.5);
        opacity: 0;
    }
}