<div class="c-device-case-listing animate-appear">
    <header class="mdc-toolbar mdc-toolbar--fixed x-header">
        <div class="mdc-toolbar__row">
            <button class="mdc-icon-button material-icons x-header__btn js-back" data-navigate-to="identifyInstruments">keyboard_backspace</button>
            <section class="mdc-toolbar__section x-header__section">
                <span class="mdc-top-app-bar__title x-header__title">{{i18keyText 'cmms_identifyInstruments.openRequests'}}</span>
            </section>
        </div>
    </header>

  <main class="c-device-case-listing__cases-container js-cases-container">
  </main>
  <div class="c-case-detail js-case-detail-container"></div>
</div>